{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="" style="width:400px; margin:auto;">
    <h1 class="text-center text-white mt-4 mb-4 bg-dark rounded-pill" style="--bs-bg-opacity: .5; padding:.3rem">Mood Ring Entries<n><h4>By {{ current_user.username }}</h4></n></h1>
</div>
{% for entry in entries %}

<div style="width:400px; margin:auto;">
<div class="card" style="width: 25rem; margin-bottom: 10px;">
    <div class="card-body text-white" style=" width: 25rem; background-image: url('{{ entry.color_image }}'); background-repeat:no-repeat; background-size:cover; background-position: center; ">
        <h5 class="card-title">Color: {{ entry.color }}</h5>
        <h5 class="card-title">Title: {{ entry.title }}</h5>
        <p class="card-text">
            {{ entry.body }}
        </p>
        <footer class="blockquote-footer">{{ entry.author.username }} on
            <cite title="Source Title">{{ entry.date_created.strftime('%A, %B %d at %I:%M%p') }}</cite>
        </footer>
        <a href="{{ url_for('get_entry', entry_id=entry.id) }}" class="btn btn-secondary mt-3">Options</a>
    </div>
    </div>
</div>



{% endfor %}

{% else %}
    <h1 class="text-center">Log In or Sign Up to Begin Journaling</h1>
{% endif %}


{% endblock %}

