{% extends 'layout.html' %}

{% block title %} {{ entry.title }} {% endblock %}

{% block content %}

<body background="{{ entry.color_image  }}" style="background-repeat:no-repeat; background-size:cover; background-size: 100% 100vh;">

<div class="" style="width:500px; margin:auto;">
    <h1 class="text-center text-white mt-4">Mood Color: {{ entry.color }}<n><h4>Title: {{ entry.title }}</h4></n></h1>
</div>
<div style="width:400px; margin:auto;">
    <h3 class="text-center text-white mt-4 bg-dark" style="--bs-bg-opacity: .25; padding:.3rem">{{ entry.body }}<n><h5>Entry by {{ entry.author.username }}</h5></n></h1>
</div>

{% if current_user == entry.author %}

<div class="buttons">
<a href="{{ url_for('edit_entry', entry_id=entry.id) }}" class="btn btn-success" style="position:center">Edit Entry</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete Entry
</button>
</div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="deleteModalLabel">Delete {{ entry.title }}?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                Are you sure you want to delete {{ entry.title }}? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete_entry', entry_id=entry.id) }}" class="btn btn-danger">Delete Entry</a>
                </div>
            </div>
        </div>
    </div>
            {% endif %}
       
</body>
{% endblock %}