{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<body class="bg-image" style="background-image: url('https://media.tenor.com/zMdZBjJ7gPkAAAAd/aesthetic-wallpaper.gif'); background-size: cover; width: '100'"></body>

{% if current_user.is_authenticated %}
    <h1 class="text-center text-white">Welcome Back, {{ current_user.username }}!</h1>
{% else %}
    <h1 class="text-center">Log In or Sign Up to Begin Journaling</h1>
{% endif %}

<h1></h1>

{% endblock %}
